* {
    box-sizing: border-box;
}

.container {
    width: 1024px;
    height: 768px;
    border: 1px solid #e84949;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* top */
.top {
    flex-basis: 1000px;
    height: 65px;
    border: 1px solid #95c7da;
    border-bottom: 0px;
}

/* aside */
.aside {
    flex-basis: 215px;
    border: 1px solid #85aeef;
    height: calc(768px - 65px - 20px - 4px);
    border-right: 0px;
    border-color: wheat;
    display: flex;
    flex-direction: column;

}

.aside>.menu {
    flex-basis: calc(100% - 25px);
    border: 1px solid #dde3e8;
}

.aside>.update {
    flex-basis: 25px;
    border: 1px solid #efefe4;
}

/* section */
.section {
    flex-basis: calc(1000px - 215px);
    /* border: 1px solid #ccc; */
    height: calc(768px - 65px - 20px - 4px);
    display: flex;
    flex-direction: column;
}

.section>.marquee {
    flex-basis: 29px;
    border: 3px solid #ccc;
    border-bottom: #f48f8f;
}

.section>.content {
    flex-basis: calc(100% - 29px);
    border: 1px solid #b7c7eb;
}

/* footer */
.footer {
    flex-basis: 1000px;
    height: 20px;
    border: 2px solid #e4540d;
}